.header_color {
    color: rgb(40, 32, 156);
}

#submit_btn {
    outline: none !important;
    box-shadow:none !important;
    background-color: rgb(48, 34, 238);
    color: white;
    border: 3px solid rgb(236, 190, 90);
}

#submit_btn:hover {
    background-color: rgb(40, 30, 182);
    color: whitesmoke;
}
