#content{
    height: 100vh;
    padding-top: 15vh;
    padding-bottom: 2vh;
}

#profile_form {
    max-width: 300px;
    border-color :rgb(40, 30, 182);
    box-shadow: 1px 1px 8px 2px #ccc;
}

#history_card{
    height: 100vh;
    padding-top: 15vh;
	margin-bottom: 15vh;
}