#content{
    position: relative;
    top: 10%;
}

.user{
    border: 1px solid black !important;
    margin: 1%;
    padding: 1%;
}

#frame{
   
    
}

#userframe{
    overflow-y: scroll !important;
    height: 80%;
}